body {
	margin: 0;
	padding: 0;
	font-family: 'helvetica', sans-serif;
	background: rgba(50, 66, 92, 1);
}
.clear{
	clear: both;
}
.conteneur {
	width: 1100px;
	margin: 0 auto;
}


.clear-left {
	clear: left;
}

/*--------------------------------------*\

				  HEADER

\*--------------------------------------*/

.header {
	height: 120px;
	width: 100%;
	background: #1f2c3f;
}

/*--------------------------------------*\
				  LOGO
\*--------------------------------------*/

.logo {
	float: left;
	color: #fff;
	font-size: 20px;
	margin: 30px 20px 0 0;

	background: #FFB03B;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	position: relative;
}
.letter {
	position: absolute;
	bottom: -17px;
	left: 13px;
	color: #1f2c3f;
}


.logo-typo {
	float: left;
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
}

/*--------------------------------------*\
			ESPACE UTILISATEUR
\*--------------------------------------*/
.right-user {
	float: right;
}

.welcome {
	float: left;
	color: #fff;
	display: inline;
	margin: 48px -10px 0 0;

	font-weight: bolder;
}

.user-pseudo {
	color: #FFB03B;
}
.user {
	float: right;
}
.user ul li{
	margin: 20px 0 0 20px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background : transparent;
	border: 1px solid #fff; 
	height: 40px;
	padding: 0 15px 0 15px;
	border-radius: 6px;
	line-height: 40px;
	transition: background 0.5s;
}

.user ul li:hover{
	background: #fff;
	color: rgba(50, 66, 92, 1);
}

/*--------------------------------------*\
			     MENU
\*--------------------------------------*/

.line{
	height: 60px;
	width: 100%;
	background: rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);
}

.top-menu { 
	margin: 0; 
	padding: 0;
	float: left;
	height: 60px;
	font-size: 14px;

}
.top-menu li{
	display: inline-block;
}
.top-menu a li {
	text-decoration: none;
	color: #fff;
	margin: 0 55px 0 0;
	font-weight: bolder;
	line-height: 60px;
	height: 60px;
	transition: color 0.4s;
	transition: box-shadow 0.4s;
}
.top-menu li:hover {
	color: #FFB03B;
	-webkit-box-shadow: 0 2px 0 0 #FFB03B;
	box-shadow: 0 2px 0 0 #FFB03B;
}

.panier a{
	float: right;
	font-size: 14px;
	font-weight: bolder;
	color: #fff;
	text-decoration: none;
	line-height: 60px;
	background: #FFB03B;
	padding-left: 15px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

	/*transition: color 0.4s;*/
	transition: box-shadow 0.4s;

	display: inline-block;
}

.panier a span {
	margin-left: 10px;
	padding: 0 15px 0 15px;
	background: #FFB03B;
	height: 60px;
	display: inline-block;

}
.panier a:hover{
	-webkit-box-shadow: 0 2px 0 0 #FFB03B;
	box-shadow: 0 2px 0 0 #FFB03B;
}



/*--------------------------------------*\
			     TITRES 
\*--------------------------------------*/

.titre-body {
	text-transform: uppercase;
	color: #FFB03B;
	font-size: 35px;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 50px 0 0 10px;
	text-align: center;
}

.title-info {
	color: #FFB03B;
	font-size: 22px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	margin: 50px 0 0 10px;
}


h2 {
	text-transform: uppercase;
	color: #FFB03B;
	font-size: 22px;
	text-align: center;
}





/*--------------------------------------*\
	       		CONTENU
\*--------------------------------------*/

.contenu {
	/*height: 300px;*/
	background: #16202d;
	padding: 20px 20px 20px 20px;

	/*box-shadow: 0 -1px 0 0 #FFB03B;*/
}


/*--------------------------------------*\
	       	BOUTONS AU TOP
\*--------------------------------------*/

.tabs {
	margin-top: 20px;
}

.tab-button a{
	float: left;
	display: block;

	width: 550px;
	background: #1f2c3f;

	font-weight: bolder;
	line-height: 65px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: background 0.3s;
}

#active a{
	color: #FFB03B;
	background: #16202d;
}

.tab-button a:hover {
	background: rgba(0,0,0,0.2);
}



/*--------------------------------------*\
	        TABLEAU PRODUITS
\*--------------------------------------*/

/*----------- TITRES TABLEAU --------------*/
.prod-liste-tab {
	border-collapse: collapse;
	margin-bottom: 10px;
}

.prod-liste-tab thead th{
	border: 1px solid rgba(255, 176, 59, 0.9);
	background: #363129;
	color: #FFB03B;
	text-align: center;
	font-size: 14px;

	padding: 15px 72px;
}

.prod-liste-tab thead th:first-child {
	width: 74px;
}


/*----------- PRODUITS TABLEAU --------------*/


.prod-liste-tab tbody td {
	border: 1px solid rgba(255, 255, 255, 0.9);
	height: 85px;
	color: #FFf;
	font-size: 12px;

	text-align: center;
}

.prod-liste-tab tbody td a {
	text-decoration: none;
	color: #fff;
}

.prod-liste-tab tbody tr:nth-child(2n) {
	background-color: #1e2a3a;
}


.cross {
	background: transparent; 

	margin: auto;
	
	position:relative;

	transition: background 0.4s;
}

.img-cross {
	background: url('../img/icon/remove.png') no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;

	position: absolute;
	top: 35px;
	left: 64px;
}

.img-cross:hover {
	background: url('../img/icon/remove-hover1.png');
}





/*--------------------------------------*\
	        BOUTONS REGLAGES
\*--------------------------------------*/

.boutons-top {
	display: flex;
	justify-content: center;
}

.boutons-regl-a a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 300px;
	font-weight: bolder;
	float: left;
	margin: 20px 30px 40px 30px;
	text-align: center;

	padding: 0 20px 0 20px;

	background: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	text-transform: uppercase;

	transition-property: background, color;
  	transition-duration: 0.4s, 0.4s;
}

.boutons-regl-a::before {
	background: url('../img/icon/plus.png') center no-repeat;
}


.boutons-regl-a a:hover {
	background: #fff;
	color: #16202d;
}


.prod-liste-tab tfoot {
	border: 1px solid rgba(255, 255, 255, 0.5);
}
/*--------------------------------------*\
	        	BAS DU PANIER
\*--------------------------------------*/

.bot-panier {
	background: #16202d;
	height: 150px;
}
.total {
	border: 1px solid rgba(255, 176, 59, 0.6);
	color: #FFB03B;
	background: #1e2a3a;
	padding: 10px 20px 0 20px;
	margin-top: 20px;
	float: right;
	font-weight: bolder;
	width: 250px;
}

.total p:first-child {
	text-align: left;
	text-transform: uppercase;
	float: left;
	color: #fff;


}
.total p:nth-child(2) {
	text-align: right;
	margin-left: 20px;

	color: #fff;
}

.but-valider {
	margin: 10px 0 20px 0;

	color: #FFB03B;
	font-size: 11px;
	font-weight: bold;
	height: 40px;
	padding: 0 15px 0 15px;
	float: right;

	background: transparent;
	border: 1px solid #FFB03B;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;

	transition: background 0.4s;
	transition: color 0.4s;
}

.but-valider:hover {
	background: #FFB03B;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

button {
	background: transparent;
	outline: 0;
	border: 0;
}


pre {
	/*display: none;*/
}



/*--------------------------------------*\
			   FORMULAIRE D'AJOUT
\*--------------------------------------*/


.champ-petit {
	height: 30px;
	width: 312px;
	border-radius: 4px;
	border: 1px solid transparent;
	background: #d9e4f6;
}

.gauche-top {
	float: left;
}
.droite-top {
	float: left;
	margin-left: 32px;
}

.droite{
	float: left;
	margin-left: 32px;
}

.quantite {
	width: 90px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid transparent;
	background: #d9e4f6;
}

.label {
	color: #FFB03B;
	margin-bottom: 8px;
	font-size: 15px;
}

.formulaire{
	margin: 20px auto 0 auto;
	/*height: 300px;*/
	background: #16202d;
	width: 600px;

}

select {
	height: 34px;
	width: 130px;

	border-radius: 4px;
	border: 1px solid transparent;
	background: #d9e4f6;
}

select option:hover {
	background: #FFB03B;
}

textarea {
	border-radius: 4px;
	border: 1px solid transparent;
	background: #d9e4f6;
	width: 594px;
	max-width: 594px;
	height: 200px;
}

.thumb_gauche {
	float: left;
}

.thumb_droite {
	float: left;
	margin-left: 50px;
}


.validation {
	float: right;
	
}
.but-form {
	margin: 30px 0 20px 0;
	float: right;
	height: 38px;
	color: #fff;
	font-size: 12.3px;
	font-weight: bolder;
	background : transparent;
	border: 1px solid #fff; 
	padding: 0 18px 0 18px;
	text-transform: uppercase;
	border-radius: 4px;
	transition: background 0.3s;

}

.but-form:first-child {
	color: #FFB03B;
	border: 1px solid #FFB03B; 
	margin-left: 20px;
}

.but-form:first-child:hover {
	color: #fff;
	background: #FFB03B;
	cursor: pointer;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.but-form:nth-child(2):hover {
	background: #fff;
	cursor: pointer;
	color: rgba(50, 66, 92, 1);
}